<!--<a-scene embedded arjs='sourceType: webcam;'>-->
<!--    <a-box position='0 0.5 0' material='opacity: 0.5;'></a-box>-->
<!--    <a-marker-camera preset='hiro'></a-marker-camera>-->
<!--</a-scene>-->


<a-scene embedded vr-mode-ui="enabled: false;" arjs="debugUIEnabled: false; detectionMode: mono_and_matrix; matrixCodeType: 3x3;">
    <a-assets>
        <img id="grid" src="assets/images/border.png" />
    </a-assets>

    <a-marker type="barcode" value="0" id="m0" registerevents>
        <a-plane position="0 0 0"
                 rotation="-90 0 0"
                 material="color: white; transparent: true; opacity: 0.10;">
        </a-plane>
    </a-marker>

    <a-marker type="barcode" value="1" id="m1" registerevents>
        <a-plane position="0 0 0"
                 rotation="-90 0 0"
                 material="color: white; transparent: true; opacity: 0.10;">
        </a-plane>
    </a-marker>

    <a-marker type="pattern" url="assets/data/kanji.patt" id="baseMarker" >
    </a-marker>

    <a-entity camera></a-entity>

    <a-entity run></a-entity>

</a-scene>



<router-outlet></router-outlet>
